<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite" verbose="1">

    <listeners>
        <listener class-name="com.orangehrm.utility.TestListner"/>
    </listeners>

    <test name="Regression Tests">
        <classes>
            <class name="com.orangehrm.Login"/>
        </classes>
    </test>

</suite>
